<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE  suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
    <test name="build test">

        <groups>
            <run>
                <include name="unit"/>
            </run>
        </groups>
        <packages>
            <package name="com.example.Trqyvjnixqfmmyvabznc.*"></package>
        </packages>
    </test>
</suite>